 /* Indicadores (dots) en negro */
 .carousel-indicators {
    background-color: black;
  }

  /* Flechas en negro */
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: black;
    border-radius: 50%; /* Opcional: para darles forma redonda */
  }

  .carousel-caption{
    color: black;
  }